@import 'tailwindcss';

:root {
    --spacing: 4px;
    --color-primary: #3B5E46;
    --color-primary-2: #458057;
    --color-secondary: #D8C7A3;
    --color-secondary-2: #F9E7C2;
    --color-text: #333333;
    --color-text-light: #F8F8F8;
    --color-muted-text-light: #666666;
    --color-background: #FAFAF7;
    --color-border: #E0E0E0;
    --color-error: #D35C4A;
    --color-success: #5C9C7A;

    --radius-radius: 8px;

    --shadow-shadow: 0 0 6px 1px rgb(0,0,0, .25);

    --width-desktop-full: 1300px;
    --width-desktop-container: 1024px;
    --width-tablet-container: 700px;
    --width-phone-container: 300px;
}

* {
    font-family: jost, serif;
}

main {
    @apply bg-[var(--color-background)]
}

.bg-primary {
    background: linear-gradient(to bottom, var(--color-primary), var(--color-primary-2));
}

.container {
    @apply w-[var(--width-phone-container)] sm:w-[var(--width-tablet-container)] md:w-[var(--width-desktop-container)] mx-auto
}

.nav-link {
    @apply text-white font-[500] text-sm
}

.title {
    @apply font-bold text-[var(--color-primary)]
}

.fade-mask {
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0));
}

@media (min-width: 768px) {
    .fade-mask {
        mask-image:
                linear-gradient(to bottom, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0)),
                linear-gradient(to left, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0));
        mask-composite: intersect;
    }
}